<!-- <div class="header">HEADER
  <div routerLink="/signin" routerLinkActive="active">signin</div>
  <div routerLink="/home" routerLinkActive="active">home</div>
  <div routerLink="/view" routerLinkActive="active">view</div>
  <div routerLink="/signout" routerLinkActive="active">signout</div>
</div>
<div class="leftnav">LEFTNAV
  <div routerLink="/login" routerLinkActive="active">login</div>
  <div routerLink="/show" routerLinkActive="active">show</div>
  <div routerLink="/manage" routerLinkActive="active">manage</div>
  <div routerLink="/logout" routerLinkActive="active">logout</div>
</div>

<div class="footer">FOOTER</div>



<router-outlet></router-outlet> -->
<!-- <nav class="header">
  <ul>
    <li><a routerLink="/signin" routerLinkActive="active">signin</a></li>
    <li><a routerLink="/home" routerLinkActive="active">home </a></li>
    <li><a routerLink="/view" routerLinkActive="active">view </a></li>
    <li><a routerLink="/signout" routerLinkActive="active">signout</a></li>
  </ul> -->
<!-- </nav>
    <nav class="leftnav">
    <ol>
    <li><a routerLink="/login"  routerLinkActive="active">LOGIN</a></li>
    <li><a routerLink="/show" routerLinkActive="active">show</a></li>
    <li><a routerLink="/manage" routerLinkActive="active">manage</a></li>
    <li><a routerLink="/logout" routerLinkActive="active">logout</a></li>
  </ol>
</nav> -->
<div class="header">
  <div routerLink="/signin" routerLinkActive="active">signin</div>
  <div routerLink="/home" routerLinkActive="active">home</div>
  <div routerLink="/view" routerLinkActive="active">view</div>
  <div routerLink="/signout" routerLinkActive="active">signout</div>
</div> 
<div class="leftnav">
  <div routerLink="/login" routerLinkActive="active">login</div>
  <div routerLink="/show" routerLinkActive="active">show</div>
  <div routerLink="/manage" routerLinkActive="active">manage</div>
  <div routerLink="/logout" routerLinkActive="active">logout</div>
</div>
<div class="footer">Footer</div>
<router-outlet></router-outlet>